# NB Coordinate changes here with pyproject.toml

build
html
dist
*.egg-info
.eggs
*.pyc
__pycache__
*.pyd
.coverage
htmlcov
wasmtime/*-*/*.dll
wasmtime/*-*/*.dylib
wasmtime/*-*/*.so
wasmtime/include
wasmtime/bindgen/generated
tests/codegen/generated
tests/bindgen/generated
