[workspace]
members = ['bindgen', 'wasi_snapshot_preview1']

[workspace.dependencies.wit-bindgen-guest-rust]
git = 'https://github.com/bytecodealliance/wit-bindgen'
default-features = false
features = ['macros']

[profile.release]
strip = 'debuginfo'

[patch.crates-io]
wasmtime-environ = { git = 'https://github.com/bytecodealliance/wasmtime' }
wit-component = { git = 'https://github.com/alexcrichton/wasm-tools', branch = 'remove-type-src-map' }
wit-parser = { git = 'https://github.com/alexcrichton/wasm-tools', branch = 'remove-type-src-map' }
