[workspace]
members = ['bindgen', 'wasi_snapshot_preview1']

[workspace.dependencies.wit-bindgen-guest-rust]
git = 'https://github.com/bytecodealliance/wit-bindgen'
default-features = false
features = ['macros']

[profile.release]
strip = 'debuginfo'
